/* SOURCE: https://github.com/iamshaunjp/django-playlist/blob/lesson-12/djangonautic/assets/styles.css   */
body{
    background-color: #0f121f;
    background-image: url(https://raw.githubusercontent.com/iamshaunjp/django-playlist/lesson-12/djangonautic/assets/stars.png);
    background-repeat-y: no-repeat;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}